<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Empleados</li>
            <li>
            <a href="{% url 'persona_app:empleado_all' %}">Empleados</a>
            </li>
            <li><a href="{% url 'departamento_app:departament_lista' %}">Departamentos</a></li>
            <li><a href="{% url 'persona_app:empleado_admin' %}">Administrar</a></li>
            <li><a href="{% url 'departamento_app:new_departament' %}">Nuevo Departamento</a></li>
        </ul>
        </div>
        <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Buscar Empleado"></li>
            <li><a class="button" href="{% url 'persona_app:empleado_add' %}">Registrar Nuevo</a></li>
        </ul>
    </div>
</div>