<h1>Buscar Empleado por Palabra Clave</h1>
<form method="GET">
    {% csrf_token %} 
    <input type="text" name="kword" id="kword" placeholder="Ingrese Nombre Aqui">
    <button type="submit">Buscar</button>
</form>

<h3>Lista resultante</h3>

<ul>
    
    {% for e in empleado %}
        <li>{{e}}</li>
    {% endfor %}
        
</ul>