<!-- 1.- Listar todos los empleados de la empresa -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{empleado.full_name}}
{% endblock title %}
    

<!-- body -->
{% block content %}
<!-- header -->
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-4 card" style="width: 300px;">
            <div class="card-divider callout">
              {{empleado.get_job_display}}
            </div>
            
            {% if empleado.avatar %}
                <img src="{{empleado.avatar.url}}">
            {% else %}
                <img src="{% static 'img/cr7.jpeg' %}" alt="">
            {% endif %}
            <div class="card-section" style="text-align: center;">
              <h4>{{empleado.full_name}}</h4>
              <p>{{empleado.first_name}}</p>
              <p>{{empleado.departamento.short_name}}</p>
              <p>{{empleado.habilidades}}</p>

            </div>
          </div>
    </div>
    <div class="cell">
        <nav>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Atras</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        <a href="?page={{i}}">{{ i }}</a>
                    </li> 
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Siguiete</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav> 
    </div>
</div>
{% endblock content %}
