<!-- 1.- Listar todos los empleados de la empresa -->
{% extends 'base.html' %}


<!-- body -->
{% block content %}
<!-- header -->
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <h1 class="large-12 cell">Lista Empleados</h1>
        <form method="GET" class="cell grid-x grid-margin-x">
            {% csrf_token %}
            <div class="large-7 medium-7 cell">
                <input type="text" id="kword" name="kword" placeholder="Buscar Empleado">
            </div>
            <div class="large-2 medium-2 cell">
                <button type="submit" class="success button">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTOS</th>
                        <th width="150">ACCION</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for e in object_list %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.first_name}}</td>
                            <td>{{e.last_name}}</td>
                            <td>{{e.departamento}}</td>
                            <!-- url: set of url + identifier e.id -->
                            <td><a class="button warning" href="{% url 'persona_app:empleado_detail' e.id %}">Ver</a></td>
                        {% endfor %}
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <div class="cell">
        <nav>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Atras</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        <a href="?page={{i}}">{{ i }}</a>
                    </li> 
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Siguiete</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav> 
    </div>
</div>
{% endblock content %}
    

