{% extends 'base.html' %}

{% block title %}
    Lista Empleados Administrativos
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <h1 class="large-12 cell">Administrador</h1>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="50">ID</th>
                        <th width="200">NOMBRES</th>
                        <th width="200">APELLIDOS</th>
                        <th width="100">TRABAJO</th>
                        <th width="150">DEPARTAMENTOS</th>
                        <th width="100">ACCION</th>
                    </tr>
                </thead>
                    <tbody>  
                        {% for empleado in empleados %}
                        <tr>
                            <td>{{empleado.id}}</td>
                            <td>{{empleado.first_name}}</td>
                            <td>{{empleado.last_name}}</td>
                            <td>{{empleado.job}}</td>
                            <td>{{empleado.departamento}}</td>
                            <td><a class="button success" href="{% url 'persona_app:modificar_empleado' empleado.id %}">Editar</a></td>
                            <td><a class="button alert" href="{% url 'persona_app:borrar_empleado' empleado.id %}">Eliminar</a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
            </table>
        </div>
    </div>
    <div class="cell">
        <nav>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Atras</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        <a href="?page={{i}}">{{ i }}</a>
                    </li> 
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Siguiete</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav> 
    </div>
</div>
{% endblock content %}
    