<h1>Habilidades de los Empleados</h1>
<form method="GET">
    {% csrf_token %} 
    <input type="text" name="kword" id="kword" placeholder="Ingrese C.C Aqui">
    <button type="submit">Buscar</button>
</form>

<ul>
    
    {% for e in skills %}
        <li>{{e}}</li>
    {% endfor %}
        
</ul>