{% extends 'base.html' %}

{% block title %}
    Registrar Departamento
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cel">
            Registrar Departamento
        </h1>
        <form class="cell callout grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres:
                  {{ form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos:
                  {{ form.apellidos}}
                </label>
            </div>
            <div class="medium-6 cell ">
                <label>Area:
                  {{ form.departamento}}
                </label>
            </div>
            <div class="medium-6 cell ">
                <label>Nombre Corto:
                  {{ form.short_name}}
                </label>
            <div class="medium-12 cell">
                <button type="submit" class="button success">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
