{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <!-- extends for other templates items as title ...-->
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    {% block content %} {% endblock content %}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>

    <script>$(document).foundation();</script>
</body>
</html>