<!-- first the extends after other files -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pagina de Inicio Sistema Empleado
{% endblock title %}



{% block content %}
{% include 'includes/header.html' %}
<!-- incio de la imagen de portada -->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/employee1.jpg' %}" alt="Space">
                <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/employee2.jpg' %}" alt="Space">
                <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>
<!-- fin de la imagen de portadad -->

<!-- bloque bienvenida -->
<div class="grid-x aligne-center">
    <h1 class=" large-12 medium-12 cell" style="font-size: 20px; text-align: center;">
        BIENVENIDO AL SISTEMA DE REGISTRO DE EMPLEADOS
    </h1>
    <div class="large-12 medium-12 cell">
        <div class="callout success " style="text-align: center; width: 60%; float: left;margin-left: 20%;">
            <h5>Registra y Controla Empleados </h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <a href="#">Ver Empleados</a>
        </div>
    </div>
</div>
<!-- bloque fin bienvenida -->
{% endblock content %}