{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Resumen Foundation</h1>
    <div class="grid-x" style="border: 1px solid green;">
        <h2 class="cell large-4" style="border: 1px solid black;">Elemento 1</h2>
        <h2 class="cell large-4" style="border:1px solid pink;">Elemento 2</h2>
        <h2 class="cell large-4" style="border: 1px solid purple;">Elemento 4</h2>
        <div class="cell large-4 grid-x" style="border: 1px solid yellow;">
            <h4 class="cell large-5">Otro elemeto 1</h4>
            <h4 class="cell large-5">Otro elemeto 2</h4>
            <h4>Otro elemeto 3</h4>
        </div>
    </div>
</body>
</html>
